.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .footer-info {
    display: flex;
    gap: 20px;
  }
  
  .footer-info div {
    max-width: 200px;
  }
  
  .footer-info h3 {
    margin-bottom: 10px;
  }
  
  .footer-info p {
    margin: 0;
  }
  