.header {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    color: green;
  }
  
  .header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .header h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .header p {
    font-size: 1em;
    margin-bottom: 1.5em;
    color: #333;
  }
  
  .header .btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }